@use "./mixins/mixins.scss" as *;

@import "./common/var.scss";
//disabled相关
.is-disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}
.is-circle {
    border-radius: 50% !important;
}
@include b(button) {
    height: 36px;
    color: #fff;
    font-size: $--font-size-medium;
    padding: 0 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    @each $type, $typeInfo in $types {
        @include m($type) {
            color: map-get($map: $typeInfo, $key: "color");
            background-color: map-get($map: $typeInfo, $key: "bgColor");
            &:focus,
            &:hover {
                background-color: rgba(map-get($map: $typeInfo, $key: "bgColor"), 0.7);
            }
            &:active {
                // active时，背景色变浅，且与focus，hover做区分
                background-color: rgba(map-get($map: $typeInfo, $key: "bgColor"), 0.9);
            }
        }
    }
    @each $size, $sizeInfo in $btnSize {
        @include m($size) {
            height: map-get($map: $sizeInfo, $key: "height");
            line-height: map-get($map: $sizeInfo, $key: "line-height");
            min-width: map-get($map: $sizeInfo, $key: "min-width");
            @if map-has-key($map: $sizeInfo, $key: "font-size") {
                font-size: map-get($map: $sizeInfo, $key: "font-size");
            }
        }
    }
}
